*{
margin:0;
padding:0;

}
header
{   
    position:relative;
    margin: 0;
    padding: 0;
    height:15vh;
    max-height:100px;
    display: inherit;
    background-color: white;
}


.box
{
    width: 40%;
    height: 100%;
    background-color: white;
    z-index: 95;
    position: relative;
    top: 0px;
    left: 0%;
}

.LogoImage
{
    position: absolute;
    top:10%;
    z-index: 94;
    left:30px;
}

.img1{
    max-width:100%;
    max-height:auto;
    height:auto;
}
ul.topnav 
{
    margin:0;
  	overflow: hidden;
    justify-content: flex-end;
    width: 55%;
    max-width:55%;
    height: 15vh;
    max-height:100px;
	  list-style-type: none;
  	background-color: #000000;
    text-align: right;
    opacity: 90%;
    z-index: 90;   
    position: absolute;
    top: 0px;
    right:0;
}

ul.topnav li
{
	display: inline-block;
    position: relative;
    right:6%;
    top:35%;
    min-width:9vw;
    max-width:9vw;
    font-size:1.2vw;
}

ul.topnav li a 
{
	display: block;
	padding: 7% 10%;
	text-align: center;
	text-decoration: none;
	color: rgb(255, 255, 255);
  transition: 1.0s;
}


ul.topnav li a:hover
{
	background-color: #a9bce2;
    color:#d4040b;
    font-weight:bold;
}

.current
{
	background-color: #d4040b;
    color: white;
}

body
{
    display: inherit;
    overflow-x:hidden;
    background-size: cover;
    width: 100%;    
    position: relative;
    align-items: right;
    min-height: 100vh;
    margin:0;
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

footer
{
    width: 100vw;
    height: 4%;
    background-color: black;
    text-align: right;
    line-height: 25px;
    color: white;
    font-size: 1%;
    padding: 2px;
    position: absolute;
    bottom:0px;
}

.footer2
{
    width: 100vw;
    height: 24px;
    background-color: black;
    text-align: right;
    line-height: 25px;
    color: white;
    font-size: 13px;
    padding: 2px;
    position: absolute;
    bottom:0px;
}


.CopyRight
{

    padding-right:20px;    
}

.CatchCopy
{
    font-weight: bold;
    font-size: 3.1vw;
    color: black;
    position: absolute;
    top: 25%;
    left: 3%;
    font-family:'Yu Mincho';
    padding-right:0.2vw;
    padding-right:0.2vw;
    z-index: 100;

}


.Shubun
{
    font-weight: bold;
    text-align: center;
    line-height: 260%;
    font-size: 0.9vw;
    width: 42%;
    height: 65%;
    min-height:55vh;
    background-color: rgb(253, 253, 253);
    opacity: 0.8;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 3%;
    margin-right: 2%;
    position: absolute;
    top:20%;
    right: 0;
    z-index: 100;
}

.bold
{
    font-size:large;

}

.Daini
{
    text-decoration: none;
    color: tomato;
    transition: 1.0s;
}
.Daini:hover
{
    text-decoration: none;
    background-color:tomato;
    color: #000000;
}


.main_imgBox 
{
    z-index: 95;
    width:auto;
    height: 80.5%;
    overflow: hidden;
    position: relative; 
}

.main_logo 
{
    z-index:11;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:50%;
    height:auto;
}

.main_img 
{
    z-index:10;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-animation: anime 36s 0s infinite;
    animation: anime 36s 0s infinite; 
}

    .main_img:nth-of-type(2) 
    {
      -webkit-animation-delay: 6s;
      animation-delay: 6s; 
    }

    .main_img:nth-of-type(3) 
    {
      -webkit-animation-delay: 12s;
      animation-delay: 12s; 
    }

    .main_img:nth-of-type(4) 
    {
      -webkit-animation-delay: 18s;
      animation-delay: 18s; 
    }

    .main_img:nth-of-type(5) 
    {
      -webkit-animation-delay: 24s;
      animation-delay: 24s; 
    }

    .main_img:nth-of-type(6) 
    {
      -webkit-animation-delay: 30s;
      animation-delay: 30s; 
    }

  .main_imgM 
  {
    opacity: 0;
    width:100%;
    height:100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-animation: anime 36s 0s infinite;
    animation: anime 36s 0s infinite; 
  }

    .main_imgM:nth-of-type(2) 
    {
      -webkit-animation-delay: 6s;
      animation-delay: 6s; 
    }

    .main_imgM:nth-of-type(3) 
    {
      -webkit-animation-delay: 12s;
      animation-delay: 12s; 
    }

    .main_imgM:nth-of-type(4) 
    {
      -webkit-animation-delay: 18s;
      animation-delay: 18s; 
    }

    .main_imgM:nth-of-type(5) 
    {
      -webkit-animation-delay: 24s;
      animation-delay: 24s; 
    }

    .main_imgM:nth-of-type(6) 
    {
      -webkit-animation-delay: 30s;
      animation-delay: 30s;
     }

@keyframes anime 
{
    0% {
        opacity: 0;
    }
    8% {
        opacity: 1;
    }
    17% {
        opacity: 1;
    }
    25% {
        opacity: 0;
         transform: scale(1.2);
                    z-index:9;
    }
    100% { opacity: 0 }
}

@-webkit-keyframes anime 
{
    0% {
        opacity: 0;
    }
    8% {
        opacity: 1;
    }
    17% {
        opacity: 1;
    }
    25% {
        opacity: 0;
         -webkit-transform: scale(1.2);
            z-index:9;
    }
    100% { opacity: 0 }
}



/*以下、フェードアウト画像の文字部分*/
.textRevealContainer {
    position: absolute;
    left: 50%;
    top: 62%;
    transform: translate(-50%, -50%);
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 2.5em; /*adjust according to your need*/
    text-align: center; /*in case you write multiline text*/
  }
  
  .textReveal {
    overflow: hidden;
    animation: textRevealAnim 2s ease 0.5s forwards;
  }
  
  .textReveal > div {
    padding: 8px 16px;
    transform: translateX(100%);
    border-left: 2px solid red;
    overflow: hidden;
    animation: textRevealAnim 2s ease 0.5s forwards,
      borderOpacityAnim 2s ease 0.5s forwards;
  }
  
  .textReveal > div > div {
    transform: translateX(-100%);
    animation: textRevealAnim 2s ease 0.5s forwards;
  }
  
  @keyframes textRevealAnim {
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes borderOpacityAnim {
    50% {
      border-left: 2px solid red;
    }
    100% {
      border-left: 2px solid transparent;
    }
  }
  
  .textReveal.x50 {
    transform: translateX(-50%);
  }
  
  .textReveal.x100 {
    transform: translateX(-100%);
  }
  
  .textReveal.zoom > div {
    transform: translateX(100%) scale(0.5, 0.5);
  }
  
  .textReveal.rotateY {
    perspective: 100px; /*adjust according to your need*/
  }
  
  .textReveal.rotateY > div {
    transform: translateX(100%) rotateY(20deg);
  }
  
  .textReveal.color > div > div {
    background: linear-gradient(
      to right,
      red,
      red 45%,
      orange 45%,
      orange 55%,
      red 55%,
      red
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 300%;
    animation: textRevealAnim 2s ease 0.5s forwards,
      bgShiftAnim 3s ease 0.5s forwards;
  }
  
  @keyframes bgShiftAnim {
    to {
      background-position: 100%;
    }
  }
  /*ここまで　フェードアウト画像　文字部分*/


  /*トップページ以降*/
.Jobun
{
    text-align: center;
    padding-bottom:0;
}
.jobun_recult3
{
    padding-bottom:0;

}

.img2
  {
    background-image:url(../images/eigyou/);
    background-size:50% 95%;
    background-position:center;
    background-repeat: no-repeat;

  }
.top_image
{
  z-index:140;
  height:auto;
  overflow:hidden;
  background-image:url(../images/eigyou/3543670_m.jpg);
  background-attachment: fixed;
  background-size:cover;
}


.Shubun_eigyou
{
    font-size:clamp(1vw,1.5vh,30px);
    font-weight: bold;
    text-align: center;
    line-height: 38px;
    min-width:70vw;
    max-width:95vw;
    width: 1000px;
    height: 15%;
    display:inline-block;
    background-color: rgb(253, 253, 253);
    opacity: 0.85;
    margin-top: 1px;
    margin-bottom:0px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 1%;
    padding-bottom: 0px;
    position: relative;
    z-index: 100;
}

.Shubun_eigyou.shubun_recult3
{ 
  font-size:clamp(1vw,1.5vh,30px);
  top:9%;
  height:22%;
  margin-top: 3%;
}

.Midashi
{
    font-size: 35px;
    font-weight: bold;
    background-color: rgb(235, 43, 43);
    color: rgb(255, 255, 255);
    padding-top: 40px;
    margin-top: 2%;
    margin-bottom: 5%;
}

.Midashi2
{
    font-size: 35px;
    font-weight: bold;
    background-color: rgb(43, 36, 36);
    color: rgb(255, 255, 255);
    padding-top: 40px;
    padding-bottom:40px;
    text-align:center;
    margin-top: 2%;
    margin-bottom: 5%;
}

.Sub1
{
    font-size: large;
}

.Sub2
{
    font-size: large;   
}


.Shucho
{
    padding: 1%;
    padding-bottom: 3%;
    font-weight: bold;
    line-height: 35px;
    margin-top: 1%;

}
.wine-red
{
    color:#d4040b;
}

.Setsumei
{
    line-height: 40px;
}



.YoKo
{
    background-color:white;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: auto;
}

.Title
{
    background-color: #000000;
    border: 2px solid;
    border-color: black;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.Komoku
{
    font-size: larger;
    font-weight: bold;
    text-align: center;
    min-width: 7.5vh;
  }

.YoKo tr td
{
    border: 2px solid;
    padding: 10px;
}

.body-Process
{
    display: inherit;
    overflow-x:hidden;
    background-size: cover;
    width: 100%;    
    height: 70%;
    position: relative;
    min-height: 100vh;
    margin:0;
    background-image:url(../images/3645679_m.jpg);
}

.Steps
{
    margin: auto;
    margin-top: 50px;
    margin-bottom: 1%;
    padding: 20px;
    border-spacing: 50px;
    background-color: rgb(255, 255, 255, 0.75);
    opacity: 90%;
}

.Steps tr td
{
    padding: 10px;
    
}
    
.Bango
{
    font-size: 30px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: #ff5e00;
    padding: 10%;
    width: 200px;
    text-align: center;
}

.td_process
{
  height:17.5vh;
  font-size:clamp(16px,1.7vh,50px);
}




.Chusyaku
{
    font-weight: bold;
    margin-left: 25%;
    margin-right: 25%;
    padding-bottom:4%;
}

.body-Obo
{
    overflow-x:hidden;
    background-size: cover;
    width: 100%;    
    position: relative;
    min-height: 100vh;
    margin:0;
    background-image:url(../images/3645679_m.jpg);
}

.Yuso
{ margin-top: 5%;
  margin:auto;
  width: 95vh;
  max-width: 85vw;
  padding: 50px;
  background-color:rgba(255, 255, 255, 0.75);
}

.Ricunavi
{
  margin-top: 5%;
  margin:5% auto;
  width: 95vh;
  max-width: 85vw;
  padding: 50px;
  background-color:rgba(255, 255, 255, 0.75);
}

.Kojinjoho 
{
  margin-top: 5%;
  margin:5% auto;
  width: 95vh;
  max-width: 85vw;
  padding: 50px;
  padding-bottom:4%;
  background-color:rgba(255, 255, 255, 0.75);
}

.Kojinjoho ol 
{
  padding-left: 2em;
}



@media screen and (max-width:415px) 
{ /*ウィンドウ幅が最大400pxまでの場合(iPhoneX縦)に適用*/
  .LogoImage
  {
    position: absolute;
    top:33%;
    z-index: 94;
    left:1%;
    width: 110%;
  }

  ul.topnav 
  {
    margin:0;
  	overflow: hidden;
    justify-content: flex-end;
    width: 55%;
    max-width:55%;
    height: 15vh;
    max-height:100px;
	  list-style-type: none;
  	background-color: #000000;
    text-align: right;
    opacity: 90%;
    z-index: 90;   
    position: absolute;
    top: 0px;
    right:0;
  }

  ul.topnav li
  {
	  display: inline-block;
    position: relative;
    right:6%;
    top:35%;
    min-width:9vw;
    max-width:9vw;
    font-size:1.2vw;
  }

  body
  {
      display: inherit;
      overflow-x:hidden;
      background-size: cover;
      width: 100%;    
      position: relative;
      align-items: right;
      min-height: 100vh;
      margin:0;
      box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
  }

  .CatchCopy
  {
    font-weight:bold;
    font-size: 6vw;
    color: black;
    top:23%;
    left: 7%;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 10vw;
    margin-bottom: 10vw;
    font-family:'Yu Mincho';
    z-index: 100;
    position: relative;
  }

  .Shubun
  {
    position:relative;
    font-weight: bolder;
    text-align: center;
    line-height: 170%;
    font-size: 1.8vh; 
    transform: scale(0.8);
    transform-origin: 0 0;
    width: 95%;
    height: 50%;
    background-color: rgb(253, 253, 253);
    opacity: 0.8;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 6%;
    padding-bottom: 0;
    margin:0;
    left: 10%;
    right: 10%;
    top:39%;
    z-index: 100;
  }
  .top
  {
    position:absolute;
    display: flex;
    flex-wrap: wrap;
  }

  .bold
  {
    font-size:larger;
  } 

  footer
  {
      z-index: 100;
      width: 100vw;
      height: 4%;
      background-color: black;
      text-align: right;
      line-height: 25px;
      color: white;
      font-size: 1%;
      padding: 2px;
      bottom:0px;
  }


}

  @media screen and (min-width:416px) and (max-width:815px)
{ /*ウィンドウ幅が最大376~815pxまでの場合(iPhoneX横)に適用*/

  
  .LogoImage
  {
    position: absolute;
    top:15%;
    z-index: 94;
    left:1%;
    width: 110%;
  }

  ul.topnav 
  {
    margin:0;
  	overflow: hidden;
    justify-content: flex-end;
    width: 55%;
    max-width:55%;
    height: 15vh;
    max-height:100px;
	  list-style-type: none;
  	background-color: #000000;
    text-align: right;
    opacity: 90%;
    z-index: 90;   
    position: absolute;
    top: 0px;
    right:0;
  }

  ul.topnav li
  {
	  display: inline-block;
    position: relative;
    right:6%;
    top:35%;
    min-width:9vw;
    max-width:9vw;
    font-size:1%;
  }

  ul.topnav li a 
  {
    display: block;
    padding: 12% 10%;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 1.0s;
  }


  ul.topnav li a:hover
  {
    background-color: #a9bce2;
      color:#d4040b;
      font-weight:bold;
  }


  body
  {
      display: inherit;
      overflow-x:hidden;
      background-size: cover;
      width: 100%;    
      position: relative;
      align-items: right;
      min-height: 100vh;
      margin:0;
      box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
  }

  .CatchCopy
  {
    font-weight:bold;
    font-size: 3.1vw;
    color: black;
    position: absolute;
    top:23%;
    left: 3%;
    font-family:'Yu Mincho';
    z-index: 100;
  }

  .Shubun
  {
    font-weight: bolder;
    text-align: center;
    line-height: 200%;
    font-size: 11px; 
    transform: scale(0.8);
    transform-origin: 0 0;
    width: 55%;
    height: 40%;
    background-color: rgb(253, 253, 253);
    opacity: 0.8;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 25%;
    left: 51%;
    right: 10%;
    position: absolute;
    top:17%;
    z-index: 100;
  }

  .bold
  {
    font-size:larger;
  } 

  footer
  {
      width: 100vw;
      height: 4%;
      background-color: black;
      text-align: right;
      line-height: 25px;
      color: white;
      font-size: 1%;
      padding: 2px;
      position: absolute;
      bottom:0px;
  }